.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 20px;
  background-color: #000000;
  position: relative;
}

.navbar-left-text {
    font-family: "Orbitron", sans-serif;
  font-weight: 100;
  font-style: normal;
    color: rgb(255, 255, 255);
  font-size: 40px;
 
}

.navbar-right-container {
  display: flex;
  align-items: center;
}

.navbar-vertical-line {
  width: 2px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  margin-right: 10px;
}
.navbar-box {
  width: 30px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  border-top-right-radius:    30px;
  border-bottom-right-radius: 30px;
}


@media (max-width: 768px) {
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 20px;
    background-color: #000000;
    position: relative;
  }

  .navbar-left-text {
    font-family: "Orbitron", sans-serif;
    font-weight: 100;
    font-style: normal;
    color: rgb(255, 255, 255);
    font-size: 40px;
  }

  .navbar-right-container {
    display: flex;
    align-items: center;
  }

  .navbar-vertical-line {
    width: 2px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    margin-right: 10px;
  }

  .navbar-box {
    width: 30px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }
}
@media (max-width: 480px) {
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 20px;
    background-color: #000000;
    position: relative;
  }

  .navbar-left-text {
    font-family: "Orbitron", sans-serif;
    font-weight: 100;
    font-style: normal;
    color: rgb(255, 255, 255);
    font-size: 20px;
  }

  .navbar-right-container {
    display: flex;
    align-items: center;
  }

  .navbar-vertical-line {
    width: 2px;
    height: 20px;
    background-color: rgb(255, 255, 255);
    margin-right: 5px;
  }

  .navbar-box {
    width:  15px;
    height: 20px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }
}
